.article__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

article {
  background: lightpink;
  height: 200px;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  color: #262626;
}

textarea {
  border: none;
  background: transparent;
  height: 80%;
  width: 100%;
  outline: none;
  resize: none;
  font-size: 1.2rem;
}

.note__footer {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.delete {
  cursor: pointer;
}

.darkMode article svg path {
  fill: #262626;
}

/*  New Note */
.newnote .words {
  font-style: italic;
}
.newnote .words span {
  font-weight: bold;
  padding-right: 5px;
  font-style: normal;
}

.newnote button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
article.newnote {
  background-color: aquamarine;
}

.red {
  color: red;
}

.notes__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes__header button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.empty {
  grid-column: span 4;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.empty p {
  font-size: 1.2rem;
}

.empty p span {
  font-weight: bold;
}

.empty svg {
  font-size: 2rem;
  padding-right: 1rem;
}
